.video-comp{
    height: 120px;
    width: 50%;
    display: inline-block;
    .video-image{
        height: 100px;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 6px;
        >p{
            white-space: nowrap;
        }
    }

    // background-color: green;
}