.App {
  // text-align: center;
  color: #303030;
  height: 100%;
  >div{
    min-height: 100%;
    padding: .2rem .15rem;
    font-size: .16rem;
  }
  a{
      text-decoration: none;
      color: #303030;
  }
  a:hover{
      color: #EE5C5C;
  }
  a:active{
      color: #E40505;
  }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
